$speed: 100ms;
$ease: ease-in-out;

@import 'partials/fonts';
@import 'partials/mixins';
@import 'partials/bourbon/bourbon';
@import 'partials/palette';
@import 'partials/data';
@import 'partials/layout';

body {
  background: $fami-beige;
  color: $fami-darkred;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
}

svg {
  shape-rendering: optimizeSpeed;
  &:hover, .selected {
    shape-rendering: geometricPrecision;
  }
}

:focus {
  outline: none;
  box-shadow: 0 0 10px $fami-highlight;
}
