
svg {
    font-size: 10px;
}


.item {
    overflow: visible;
}

.unselected {

  text {
    transform: scale(1);
    fill: $fami-copper;
    opacity: .7;
    text-shadow: none;
    pointer-events: none;
    transition:
      transform $speed $ease,
      opacity $speed $ease,
      fill $speed $ease,
      stroke $speed $ease,
      font-weight $speed $ease;
  }

  circle {
    opacity: .3;
    fill: $fami-copper;
    stroke: $fami-beige;
    transition:
      fill $speed $ease,
      opacity $speed $ease;
  }
}


circle {
  &:hover {
    opacity: 1;
    stroke: $fami-red;
    fill: $fami-highlight;
    cursor: pointer;
    transition:
      fill $speed $ease,
      opacity $speed $ease,
      stroke $speed $ease;
  }

  &:hover ~ text {
    transform: scale(2);
    font-weight: 900;
    opacity: 1;
    fill: $fami-highlight;
    stroke: $fami-red;
    stroke-width: .3;
    transition:
      transform $speed $ease,
      opacity $speed $ease,
      fill $speed $ease,
      stroke $speed $ease,
      font-weight $speed $ease;
  }

}


.selected {

  text, circle {
    fill: $fami-red;
    opacity: 1;
    stroke: $fami-highlight;
    transform: scale(2);
    transition:
      transform $speed $ease,
      opacity $speed $ease,
      fill $speed $ease,
      stroke $speed $ease,
      font-weight $speed $ease;
  }

  text {
    stroke-width: .1;
  }

  circle {
    stroke-width: .5;

    &:hover {
      fill: $fami-highlight;
      stroke: $fami-red;
      stroke-width: 1;
      transition:
        transform $speed $ease,
        opacity $speed $ease,
        fill $speed $ease,
        stroke $speed $ease,
        font-weight $speed $ease;
    }

    &:hover ~ text {
      fill: $fami-highlight;
      stroke: $fami-red;
      stroke-width: .3;
      transform: scale(3);
      transition:
        transform $speed $ease,
        opacity $speed $ease,
        fill $speed $ease,
        stroke $speed $ease,
        font-weight $speed $ease;
    }

  }
}


rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}
