
svg {
    font-size: 10px;
}


.item {
    overflow: visible;
}

text {
  transform: scale(1);
  fill: $fami-darkbeige;
  opacity: .5;
  text-shadow: none;
  pointer-events: none;
  transition:
    transform $speed $ease,
    opacity $speed $ease,
    fill $speed $ease,
    text-shadow $speed $ease;
}

circle {
  opacity: .1;
  fill: $fami-copper;
  transition:
  fill $speed $ease,
  opacity $speed $ease;

  &:hover {
    fill: $fami-highlight;
    opacity: 1;
    cursor: pointer;
    transition:
      fill $speed $ease,
      opacity $speed $ease;
  }

  &:hover ~ text {
    transform: scale(2);
    opacity: 1;
    fill: $fami-highlight;
    text-shadow: 0 0 5px $fami-black;
    transition:
      transform $speed $ease,
      opacity $speed $ease,
      fill $speed $ease,
      text-shadow $speed $ease;
  }
}


.selected {

  text, circle {
    fill: $fami-red;
    opacity: 1;
  }

  circle:hover {
    fill: $fami-highlight;
  }
}


.unselected {

  circle {
    opacity: .1;

    &:hover {
      opacity: 1;
    }
  }

  text {
    opacity: .5;
  }

  text, circle {
    transition:
      transform $speed $ease,
      opacity $speed $ease,
      fill $speed $ease;
  }
}

rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}
