#timeline {
    background-color: $fami-darkbeige;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

#header, #zoom {
  position: fixed;
  background-color: $fami-beige;
  top: 5px;
  padding: 5px;
}

#header {
  left: 5px;
}

#zoom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 5px;
  padding: 5px;
}

#notes {
  width:20%;
  float:left;
}
